<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
    beStrictAboutChangesToGlobalState="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    convertErrorsToExceptions="true"
>
    <testsuites>
        <testsuite name="all">
            <directory>test/suite</directory>
        </testsuite>
    </testsuites>

    <coverage cacheDirectory="coverage">
        <include>
            <directory>src</directory>
        </include>
        <report>
            <html outputDirectory="coverage" />
            <clover outputFile="coverage/coverage.xml" />
            <text outputFile="coverage/coverage.txt" />
        </report>
    </coverage>

    <php>
        <ini name="error_reporting" value="-1"/>
        <ini name="memory_limit" value="256M"/>
    </php>
</phpunit>
